<div style="background-color: #f7fafc; padding: 50px;">
  <div style="background-color: white; width: 600px; padding: 50px; border-radius: 5px; margin: 0 auto; font-family: Verdana; font-size: 14px;">
    <h1>¡De <a href="https://www.trackear.app/?utm_source=email&utm_campaign=christmas_2020&utm_medium=email">Trackear.app</a> te deseamos una muy feliz navidad!</h1>

    <p>Se pasó el año. Finalmente estamos en navidad y desde <a href="https://www.trackear.app/?utm_source=email&utm_campaign=christmas_2020&utm_medium=email">Trackear.app</a> te queríamos desear una muy feliz navidad.</p>

    <p>Por supuesto también queremos dejarte un pequeño gesto y regalo de nuestra parte.</p>

    <p>Con el siguiente cupón, te regalamos una subscripción en Trackear.app completamente gratis! *</p>

    <p style="font-size: 24px; text-align: center">Cupón: 315CE14A</p>

    <p style="font-size: 12px;">Para usarlo simplemente ingresá en la plataforma. Dentro de la sección Suscripción hacé click
    en "Suscribirse por $480.00 mensual". Cuando se abra la ventana, dale click al botón "Add coupon".</p>

    <p style="font-size: 10px;">* Válido para los primeros 500 usuarios.</p>
    <p style="font-size: 10px;">* Promoción válida hasta el 31 de Diciembre 2020 UTC.</p>
    <p style="font-size: 10px;">* Promoción válida únicamente para usuarios sin una suscripción activa.</p>
  </div>
</div>
