<%# Home guest %>
<div class="px-8 py-12 mx-w-md mx-auto sm:mx-w-xl sm:w-full sm:object-cover sm:object-center">
  <%= image_tag "guest/home.jpg", class:"mt-6 shadow-lg rounded", width:"1216" %>
</div>